.title {
    display: inline-block;

    width: 100%;
    margin: 32px auto;

    font-size: 64px; 
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.variable {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;

    display: inline-block;
    
    font-size: inherit;
}

.explanation {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;

    margin: 32px 32px;
}

.section .heading {
    display: inline-block;

    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0px 0px 32px 0px;

}

.section .heading .variable {
    position: relative;

    font-size: 64px;
    top: 5px;
}

.section .words {
    margin: 0;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
  
    line-height: 30px;
    font-size: 24px;
}

.section .words .variable {
    font-size: 36px;
    line-height: 0;
}

.section .details {
    margin: 24px 0 8px 24px;
    width: 100%;
  
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: #444;
}

.section .details .variable {
    font-size: 32px;
    line-height: 0;
}

.section .details-button {
    margin: 8px 0 8px 16px;

    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 20px;
    color: #888;

    cursor: pointer;
}

.explanation > hr {
    width: 80%;
    margin: auto;
    border: 1px solid #EEE;
}